mixin square-input(title, output, range, maximum)
  label(for="calculator__" + output, class="calculator__" + output)= title
    p(class="calculator__output-" + output)
    p.calculator__argument кв.м
    input(
      class="calculator__" + range 
      type="range" 
      min="1" 
      max= maximum 
      value="42")