doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Калькулятор
  body

    include ./blocks/header-item.pug
    include ./blocks/dropdown.pug
    include ./blocks/square-input.pug
    include ./blocks/companies-list.pug
    
    header.header
      .header__wrapper
        .header__row
          img(class="header__logo" src="./assets/logo.svg", alt="logo")
          .header__search.search
            button.search__btn
              img(class="search__btn-img" src="./assets/icons/search-icon.svg", alt="search-icon")
            input(class="search__input" type="text" placeholder="Введите название компании...")
            .search__input-btn
          button.header__button Добавить компанию +
          .header__burger.burger-btn
            .burger-btn__wrapper
              span.burger-btn__icon
      .header__menu
        ul.header-menu
          +header-item("#", "Ремонт квартир")
          +header-item("#", "Дизайн интерьеров")
          +header-item("#", "Карта компаний")
          +header-item("#", "Последние отзывы")
          +header-item("#", "Калькулятор ремонта")

    .main
      .main__wrapper
        .main__text.text
          p.text__paragraph Воспользуйтесь нашим кальулятором, чтобы проссчитать примерную стоимость вашего ремонта. Калькулятор считает среднюю цену на основе прайсов всех предствленных в рейтинге компаний. Не стоит доверять компаниям, которые указывают цену от 1500 за квадратный метр...
        .main__calculator.calculator
          .calculator__wrapper
            p.calculator__head Калькулятор ремонта
            .calculator__body

              +dropdown(
                "premises",
                "Тип помещения:*",
                "Новостройка",
                "Вторичка")
                
              +square-input(
                "Площадь ремонта:*",
                "repair-area",
                "repair-area-range",
                "300")

              +dropdown(
                "electrician",
                "Электрика:*",
                "Частичная замена и подключение",
                "Новая от вводного кабеля",
                "Нет")

              label(for="calculator__perimeter") Общий периметр стен:*
                input(
                  class="calculator__perimeter"
                  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                  onkeydown="javascript: return event.keyCode === 8 || event.keyCode === 46 ? true : !isNaN(Number(event.key))"
                  type="number" 
                  name="perimeter" 
                  min=1
                  max=999
                  maxlength="3"
                  value=50)
                p.calculator__argument м

              +dropdown(
                "repairs",
                "Тип ремонта:*",
                "Дизайнерский",
                "Косметический",
                "Капитальный")

              +dropdown(
                "ceilings",
                "Потолки:*",
                "Гипсокартон",
                "Натяжной",
                "2-уровня гиспокартон",
                "Нет")

              
              +dropdown(
                "bathroom",
                "Ремонт санузла:*",
                "Нет",
                "Да")

              +square-input(
                "Площадь санузла:*",
                "bathroom-area",
                "bathroom-area-range",
                "20")

              +dropdown(
                "floors",
                "Теплые полы:*",
                "Нет",
                "Да")

              +dropdown(
                "doors",
                "Двери:*",
                "Нет",
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7")
                
              label(class="calculator__door" for="door-switch") Входная дверь:*
                label(class="door-switch")
                  input(class="door-switch__checkbox" type="checkbox" )
                  span(class="door-switch__slider door-switch__round")
                span.door-switch__output

            .calculator__foot
              .calculator__total.total
                span.total__heading Стоимость вашего ремонта
                span.total__text Итого:
                span.total__sum 
              p.calculator__subtext *Напоминаем, что это примерная стоимость
        .main__sidebar.sidebar
          .sidebar__wrapper
            p.sidebar__head  Лучшие компании по дизайну интерьеров
            .sidebar__content
              +companies-list([
                {link: "./assets/logo-service.svg", title: "Строй Комплект Сервис", sum: "2700"},
                {link: "./assets/logo-service.svg", title: "Строй Комплект Сервис", sum: "2700"},
                {link: "./assets/logo-service.svg", title: "Строй Комплект Сервис", sum: "2700"},
                {link: "./assets/logo-service.svg", title: "Строй Комплект Сервис", sum: "2700"},
                {link: "./assets/logo-service.svg", title: "Строй Комплект Сервис", sum: "2700"},
                {link: "./assets/logo-service.svg", title: "Строй Комплект Сервис", sum: "2700"},
                {link: "./assets/logo-service.svg", title: "Строй Комплект Сервис", sum: "2700"},
                {link: "./assets/logo-service.svg", title: "Строй Комплект Сервис", sum: "2700"},
                {link: "./assets/logo-service.svg", title: "Строй Комплект Сервис", sum: "2700"},
                {link: "./assets/logo-service.svg", title: "Строй Комплект Сервис", sum: "2700"}
              ])
